client

tls-client
auth {{ openvpn_auth_alg }}
remote-cert-tls server
{% if openvpn_use_modern_tls %}
tls-version-min 1.2
{% endif %}

proto {{ openvpn_proto }}
remote {{ openvpn_server_hostname }} {{ openvpn_port }}
dev tun

nobind
keepalive {{ openvpn_keepalive_ping }} {{ openvpn_keepalive_timeout }}
{% if openvpn_compression is not undefined and openvpn_compression != "" %}
compress {{ openvpn_compression }}
{% endif %}
verb 3

{% if openvpn_use_ldap %}
auth-user-pass
{% endif %}

{% for option in openvpn_addl_client_options %}
{{ option }}
{% endfor %}

{% if tls_auth_required %}
key-direction 1
{% endif %}

{% if openvpn_set_dns %}
{% if openvpn_custom_dns is defined %}
{% if openvpn_custom_dns is string %}
dhcp-option DNS {{ openvpn_custom_dns }}
{% else %}
{% if openvpn_custom_dns.__class__.__name__ == 'list' %}
{% for srv in openvpn_custom_dns %}
dhcp-option DNS {{ srv }}
{% endfor %}
{% else %}
dhcp-option DNS 1.0.0.1
dhcp-option DNS 1.1.1.1
dhcp-option DNS 8.8.8.8
dhcp-option DNS 8.8.4.4
{% endif%}
{% endif %}
{% else %}
dhcp-option DNS 1.0.0.1
dhcp-option DNS 1.1.1.1
dhcp-option DNS 8.8.8.8
dhcp-option DNS 8.8.4.4
{% endif %}
{% endif %}

<ca>
{{ ca_cert.content|b64decode }}
</ca>

{% if tls_auth_required %}
<tls-auth>
{{ tls_auth.content|b64decode }}
</tls-auth>
{% endif %}

<cert>
{{ item.0.content|b64decode }}
</cert>

<key>
{{ item.1.content|b64decode }}
</key>

{% if openvpn_verify_cn|bool %}
verify-x509-name OpenVPN-Server-{{ inventory_hostname[:49] }} name
{% endif %}
